# compiled output
Projects/backend/dist
Projects/backend/node_modules
Projects/backend/build

Projects/frontend/node_modules
Projects/frontend/build
Projects/frontend/*.local
Projects/frontend/dist
Projects/frontend/dist-ssr
Projects/frontend/*.njsproj
Projects/frontend/*.ntvs*
Projects/frontend/*.suo
Projects/frontend/*.sw?
Projects/frontend/*.sln

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
Projects/backend/.env
Projects/backend/.env.development.local
Projects/backend/.env.test.local
Projects/backend/.env.production.local
Projects/backend/.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json